<a href="https://colab.research.google.com/github/SUGITHA2004/Login/blob/main/Loop_based_puhton_programming_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1)Print no from 1 to 100

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
# 2)Print All even number between 1 to 30

for i in range(1,31):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [28]:
# 3)Find the sum of first N natural numbers

def natural_numbers(N):
    total_sum = 0
    for i in range(1, N + 1):
        total_sum += i
    return total_sum

print(natural_numbers(20))

210

In [31]:
# 4)Print muliplication of give no

num=int(input("Enter a number:"))
for i in range(1,num):
  print(num,"x",i,"=",num*i)

Enter a number:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30

In [6]:
# 5)factorial number

def fact(n):
    x = 1
    for i in range(1, n + 1):
        x = x * i
    return x


result = fact(6)
print(result)

720

In [14]:
# 6) Fibonacci Series of N number

def fibonacci(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n):
      c=a+b
      a=b
      b=c
      print(c)
fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [34]:
# 7) count digit in a given no using loop

num=int(input("Enter a number:"))
count=0

if num==0:
  print("Its zero")
else:
  while num>0:
    num=num//10
    count+=1
print(count)

Enter a number:23642938475
11

In [35]:
# 8) Reverse a no using loop

num=int(input("Enter a number:"))
reverse=0

while num>0:
  remainder=num%10
  reverse=(reverse*10)+remainder
  num=num//10
print(reverse)

Enter a number:1253819
9183521

In [9]:
# 9) The no Prime or not

num=int(input("Enter a number:"))
Is_Prime=True

for  i in range(2,num):
  if num%i==0:
    Is_Prime=False
    break
if Is_Prime:
  print("Its Prime")
else:
  print("Its not Prime")

Enter a number:3
Its Prime

In [40]:
# 10) print the following pattern loop

# *
# * *
# * * *
# * * * *
# * * * * *

for i in range(1,10):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *